################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyBlog/Stopwatch/bin/Debug/net6.0
